PORT=3000
NODE_ENV=development

# Opción 1: Conexión mediante URL completa (Recomendada para Render, Neon, Supabase)
# DATABASE_URL=postgres://usuario:contraseña@servidor.com:5432/nombre_bd

# Opción 2: Parámetros individuales (Desarrollo local)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=peliplay
DB_USER=postgres
DB_PASSWORD=
DB_SSL=false

